<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/css/globalmenu.css" />
        <link rel="stylesheet" href="/css/features.css" />
        <link rel="stylesheet" href="/css/font.css" />
        {% block before_head_end '' %}
    </head>
    <body>
        <div class="header-container">
            <div class="container">
                {% block before_menu '' %}
                {% spaceless %}
                    <ul id="global-menu">
                        <li>
                            <a href="{{ path('homepage') }}"{% if active == "home" %} class="active"{% endif %}>Gitonomy</a>
                        </li>
                        <li>
                            <a href="{{ path('features') }}"{% if active == "features" %} class="active"{% endif %}>features</a>
                        </li>
                        <li>
                            <a href="{{ path('demo') }}"{% if active == "demo" %} class="active"{% endif %}>demo</a>
                        </li>
                        <li>
                            <a href="{{ path('documentation', {project: 'gitonomy', version: 'master', path: ''}) }}"{% if active == "doc_gitonomy" %} class="active"{% endif %}>doc</a>
                        </li>
                        <li>
                            <a href="http://blog.gitonomy.com">blog</a>
                        </li>
                        <li>
                            <a href="{{ path('documentation', {project: 'gitlib', version: 'master', path: ''}) }}"{% if active == "doc_gitlib" %} class="active"{% endif %}>gitlib</a>
                        </li>
                        <li class="pull-right">
                            <a href="http://github.com/Gitonomy/gitonomy">
                                <i class="symbol">github</i>
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="http://twitter.com/Gitonomy">
                                <i class="symbol">twitter</i>
                            </a>
                        </li>
                    </ul>
                {% endspaceless %}
            </div>
        </div>
        <div class="container" style="padding-top:10px">
            {% block content '' %}
        </div>
        <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        {% include "blocks/analytic.html.twig" %}
        {% block before_body_end '' %}
    </body>
</html>
